<%= form_with(model: link, local: true) do |form| %>
  <div class="row justify-content-md-center">
    <div class="col-sm-8">
      <% if @link.errors.any? %>
      <% @link.errors.full_messages.each do |message| %>
          <p><%= message %>!</p>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <%= form.text_field :og_url, class: 'form-control' %>
    </div>
    <div class="col-sm-8" style="margin-top: 10px">
      <%= form.submit 'Submit', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
