<div class="card text-center">
  <div class="card-header">
    URL Shortener by Karol Onaszkiewicz
  </div>
  <div class="card-body">
    <h5 class="card-title">Create your short link</h5>
    <p class="card-text"><%= render 'form', link: @link %></p>
  </div>
</div>
