<p id="notice"><%= notice %></p>


<p>
  <strong>Your short URL:</strong>
  <%= "#{request.base_url}/ss/#{@link.short_url}" %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
